/web/bundles/*
/app/bootstrap*
/app/cache/*
/app/config/config-aws.php
/app/config/build.settings
/app/config/parameters.yml
/app/logs/*
/app/spool/*
/app/SymfonyRequirements.php
/vendor/*
/public/
bin
*.sass-cache*
composer.phar
phing.phar
phpunit.phar
vendor
log
REVISION
tmp
*.swp
.DS_Store
.vagrant
nohup.out
picto.css
