db_settings.host=localhost
db_settings.database=picto
db_settings.username=picto
db_settings.password=

redis_host=localhost
redis_port=6379

mailer_host=
mailer_username=
mailer_password=

asset_base_url=

aws_key=
aws_secret=

image_directory=/var/apps/data/images/
image_bucket=picto.images-test

secret=
