<header>
    <h1>
        <a href="{{ path('picto_app_index') }}">
            <img src="{{ asset('bundles/pictoapp/images/picto-logo-2x.png') }}" width="200">
        </a>
    </h1>
    <h4 class="subheader">Simple Image Hosting</h4>
</header>
