<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}picto.io | Simple Image Hosting{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/pictoapp/css/picto.css') }}">
    <link rel="shortcut icon" type="image/x-ico" href="{{ asset('bundles/pictoapp/images/favicon.ico') }}">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
